<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    {% block title -%}
    {% if title %}
        <title>About Flask - {{ title }}</title>
    {% else %}
        <title>About Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block content -%}
        {%- block mainmenu -%}
        <ul class="mainmenu">
                <li><a href="{{ url_for('index') }}">Main</a></li>
                <li><a href="{{ url_for('add_post') }}">Add post</a></li>
                <li><a href="{{ url_for('add_feedback') }}">Add feedback</a></li>
                <li><a href="{{ url_for('feedbacks') }}">Feedbacks Log</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
        {% endblock mainmenu -%}
        <div class="clear"></div>
        <div class="content">
            {% if title -%}
                <h3>{{ title }}</h3>
            {% else -%}
                <h3>Flask framework</h3>
            {% endif -%}
        </div>
    {% endblock content -%}
</body>
</html>